

<!-- AddEvent script -->
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<!-- Button code -->
<div title="Add to Calendar" class="addeventatc">
    Add to Calendar
    <span class="start">04/08/2020 08:00 AM</span>
    <span class="end">04/08/2020 10:00 AM</span>
    <span class="timezone">America/Los_Angeles
</span>
    <span class="title">Summary of the event</span>
    <span class="description">Description of the event</span>
    <span class="location">Ahmedabad, Gujarat, India</span>
</div>