<style type="text/css">
	table, th, td {
	   border: 1px solid black;
	   border-collapse: collapse;
	}
	.cre-val  {
		text-align: right !important;
	}
	@media print {
	a[href]:after {
		visibility: hidden;
	}
	}
</style>
<table class="table table-bordered table-condensed" style="width:100%">
	<body>
		<tr>
			<td style="width:65%"><b>Project</b></td>
			<td style="width:35%"><b>Total Hour</b></td>
		</tr>
		{% for(var i=0, l=data.length; i<l; i++) { %}
			<tr>
				<td style="white-space: nowrap;width:65%">{%= data[i][0] %}</td>
				<td style="white-space: nowrap;width:35%">{%= data[i][1] %}</td>
			</tr>
		{% } %}
		
	
	</body>
</table>
